<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string><![CDATA[http://qd.baidupcs.com/file/17df6f83b85ad7ac2a387fdb662c12a2?bkt=p2-qd-173&fid=3188069594-250528-349681445098331&time=1431079418&sign=FDTAXERLBH-DCb740ccc5511e5e8fedcff06b081203-%2Fn5S%2FdLMyDPKAdq%2BmuaMpjbIBtY%3D&to=qb&fm=Qin,B,U,nc&newver=1&newfm=1&flow_ver=3&sl=67633231&expires=8h&rt=sh&r=716389278&mlogid=2612870122&vuk=3188069594&vbdid=2263647267&fin=iflower0.6.1_beta-2.ipa&fn=iflower0.6.1_beta-2.ipa&slt=pm&uta=0]]></string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <false/>
            <key>url</key>
            <string><![CDATA[http://oa.99.com/v2/app/appicon?appid=9302&size=f64&product=iflower]]></string>
          </dict>
          <dict>
            <key>kind</key>
            <string>full-size-image</string>
            <key>needs-shine</key>
            <false/>
            <key>url</key>
            <string><![CDATA[http://oa.99.com/v2/app/appicon?appid=9302&size=f128&product=iflower]]></string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.nd.flower</string>
          <key>bundle-version</key>
          <string><![CDATA[0.6.1]]></string>
          <key>kind</key>
          <string>software</string>
          <key>subtitle</key>
          <string>Apple</string>
          <key>title</key>
          <string><![CDATA[_v0.6.1]]></string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
